files:
  "/etc/supervisord.d/daphne.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:daphne]
      command=/var/app/venv/staging-LQM1lest/bin/daphne -u /tmp/daphne.sock -b 0.0.0.0 -p 5000 server.asgi:application
      directory=/var/app/current
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/daphne.log
      stderr_logfile=/var/log/daphne_error.log
